<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="left">
            <a>user: {{home_login_username}}</a>
        </div>
        <div class="center">
            <a></a>
        </div>
        <div class="right">
            <a>Attack status: {{home_attack_status}}</a>
        </div>
    </header>

    <script>

        function update_date(){
            let date_string = new Date().toLocaleString();

            date_element = document.querySelector('header .center a');
            date_element.appendChild(document.createTextNode(date_string))
        }

        update_date()

    </script>
</body>
</html>